/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.primary-btn {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}
/* header's nav style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}

/* header's banner style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-top: 80px;
}
.banner-des {
  color: #131313;
  margin: 32px 0px;
}
.banner img {
  width: 100%;
  margin-top: 32px;
}

/* main and footer section */

main {
  max-width: 1440px;
  margin: 70px auto 0 auto;
}
footer {
  max-width: 1440px;
  margin: 120px auto;
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
  padding: 40px 0px;
}
.footer-text {
  color: #424242;
  font-size: 1.25rem;
  font-weight: 400;
}

/* team section */

.teams-container {
  display: flex;
  align-items: center;
  gap: 70px;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-text {
  padding: 0 70px;
}
.teams-title {
  font-size: 3rem;
}
.quick {
  color: #727272;
  font-weight: 500;
}
.our {
  color: #131313;
  font-weight: 700;
}
.featuress {
  color: #ff900e;
  font-weight: 700;
}
.teams-des {
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0px;
}

/* feature section */

.feature-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-des {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
}
.feature-text {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}
.feature-container {
  display: flex;
  margin-top: 100px;
  gap: 160px;
}
.feature-content .card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.ten {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 342px;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 120px;
  right: 60px;
}
.ten h2 {
  font-size: 4rem;
  margin: 0;
}
.ten p {
  font-size: 1.5rem;
}

/* facts section */

.facts {
  margin-top: 60px;
}
.facts-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.facts-des {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card-stat {
  color: #424242;
  font-size: 3rem;
  font-weight: 600;
}
.facts-card-container .card-des {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
.facts-card-container .card {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 30px;
}

/* sponsor section */
.sponsor-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.sponsor-des {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 50px;
}
.sponsor-container {
  text-align: center;
  margin-top: 80px;
}
.sponsor-img {
  display: flex;
  justify-content: space-evenly;
}

/* header responsive section */

@media screen and (max-width: 576px) {
  header,
  .facts,
  .sponsor-container,
  .feature-container {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsor-img,
  .feature-container {
    flex-direction: column;
  }
  .feature-container {
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .ten {
    position: static;
    width: 305px;
  }
  .feature-img img {
    width: 99%;
  }
  .feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .teams-img {
    grid-template-columns: 1fr;
  }
  .teams-text {
    padding: 0 40px;
    text-align: center;
  }
  .facts-card-container {
    gap: 20px;
  }
  .sponsor-img img {
    padding: 50px 100px;
  }
  footer {
    margin: 20px 20px;
    padding: 40px 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  header,
  .facts,
  .sponsor-container,
  .feature-container {
    padding: 80px;
  }
  nav,
  .teams-container,
  .sponsor-img,
  .feature-container {
    flex-direction: column;
  }
  .feature-container {
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .ten {
    position: static;
    width: 620px;
  }
  .facts {
    margin-top: -50px;
  }
  .feature-img img {
    width: 99%;
  }
  .feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .teams-text {
    padding: 0 60px;
    text-align: center;
  }
  .facts-card-container {
    margin: 0 100px;
    gap: 20px;
  }
  .sponsor-container {
    margin-top: -110px;
  }
  .sponsor-img img {
    padding: 0px 200px 60px 200px;
  }
  footer {
    margin: 40px 80px;
    padding: 40px 0px;
  }
}
