/* shared styles */

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.primary-btn {
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}
/* header's nav style */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}

/* header's banner style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-top: 80px;
}
.banner-des {
  color: #131313;
  margin: 32px 0px;
}
.banner img {
  width: 100%;
  margin-top: 32px;
}

/* main section */

main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams-container {
  display: flex;
  align-items: center;
  gap: 70px;
}
.teams-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-text {
  padding: 0 70px;
}
.teams-title {
  font-size: 3rem;
}
.quick {
  color: #727272;
  font-weight: 500;
}
.our {
  color: #131313;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-weight: 700;
}
.teams-des {
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0px;
}

/* header responsive section */

@media screen and (max-width: 576px) {
    header {
      padding: 20px;
    }
    nav, .teams-container {
      flex-direction: column;
    }
    .teams-img {
      grid-template-columns: 1fr;
    }
    .teams-text {
        padding: 0 40px;
        text-align: center;
      }
  }
  
  @media screen and (min-width: 576px) and (max-width: 992px) {
    header {
      padding: 80px;
    }
    nav, .teams-container {
      flex-direction: column;
    }
    .teams-text {
        padding: 0 60px;
        text-align: center;
      }
  }
  